/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* stylelint-disable */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block
}

html, .stylelint {
  line-height: 1
}

body, .stylelint {
  line-height: inherit
}

ol, ul, .stylelint {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}


/* stylelint-enable */


/* Begin site styles below */


/*
  Base Styles

  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/


/*
  Setting type with a 5:4 modular scale
  http://www.modularscale.com/?16&px&1.25
*/

html {
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.125em;
  /* 18 / 16 = 1.125 */
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Oswald', Helvetica, Arial, serif;
}

h1 {
  font-size: 1.953em;
  /* 31.25 / 16 = 1.953 */
  line-height: 1.056em;
  /* 33 ÷ 31.25 = 1.056 */
}

h2 {
  font-size: 1.563em;
  /* 25 / 16 = 1.563 */
  line-height: 1.08em;
  /* 27 / 25 = 1.08 */
}

h3 {
  font-size: 1.25em;
  /* 20 / 16 = 1.25*/
  line-height: 1.1em;
  /* 22 / 20 = 1.1 */
}

h4, p, li {
  line-height: 1.125em;
  /*18 / 16 = 1.125;*/
}

h4 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
}

form input, form textarea {
  border: solid 0.063em #ddd;
  /* 1 / 16 = 0.063 */
}


/* Responsive Media */

img, video, audio {
  display: block;
  max-width: 100%;
}


/*
 Layout Styles

 Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

header, footer, main, section {
  float: left;
  width: 100%;
}

#header {
  display: block;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0.3125em 0.3125em #e1e6f2;
  padding: 0.625em 5%;
}

#header h1 {
  float: left;
}

#nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.3125em 0.3125em #e1e6f2;
  padding: 1em 5%;
  transition: display 0.2s;
}

#nav.opened {
  display: block;
}

#nav a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0 0.625em;
}

#nav a:hover {
  color: #b31178;
  transition: color 0.2s;
}

#nav .menu {
  margin-bottom: 0.625em;
  text-align: center;
}

#nav .network {
  text-align: center;
}

#nav .network li {
  display: inline;
  padding: 0.3125em;
  /*5 / 16 = 0.3125*/
}

#nav .network li a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
}

.facebook, .linkedin {
  width: 1em;
  height: 1em;
}

.facebook {
  background-image: url("../images/facebook.png");
  /* will add hover effect later */
}

.linkedin {
  background-image: url("../images/linkedin.png");
  /* will add hover effect later */
}


/* Responsive menu button */

.menu-button {
  position: relative;
  float: right;
  z-index: 9999;
  width: 2.5em;
  height: 2.2em;
  background: none;
  display: inline-block;
  /*display: flex;*/
  transition: .3s;
  cursor: pointer;
}

.menu-button span {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 0.1875em;
  margin: 10%;
  background: #b31178;
  border-radius: 0.28571rem;
  transition: background 0.3s 0.5s ease;
}

.menu-button span:before, .menu-button span:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #b31178;
  border-radius: 0.28571em;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.menu-button span:before {
  top: 0.625em;
}

.menu-button span:after {
  top: -0.625em;
}

.menu-button.close span {
  transition: background 0.3s 0s ease;
  background: transparent;
}

.menu-button.close span:before, .menu-button.close span:after {
  transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
  transition: top 0.3s ease, transform 0.3s 0.5s ease;
  top: 5%;
  left: -5%;
  width: 110%;
}

.menu-button.close span:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button.close span:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.content {
  padding: 0.625em 5%;
  /*10 / 16 = 0.625*/
}

.content h2 {
  padding: 0.625em 0;
  /* 10 / 16 = 0.625 */
}

.content h3, h4, h5, h6, p {
  padding-bottom: 0.625em;
  /* 10 / 16 = 0.625 */
}

#page-title {
  padding: 0.625em 5%;
}

#footer {
  margin-top: 1.25em;
  padding: 0.625em 5%;
  color: #fff;
  background-color: #010101;
}


/* Resume */

#resume section:nth-child(2n+1) {
  background-color: #e1e6f2;
}

#resume h3 {
  color: #b31178;
  text-transform: uppercase;
  font-weight: bold;
}

#resume h4 {
  padding-bottom: 0.625em;
  font-weight: bold;
  /* 10 / 16 = 0.625 */
}

#skills li {
  padding: 0.625em 0;
}

#skills li li {
  padding: 0;
}

#timeline li {
  padding: 0.625em 0;
}

#timeline li li {
  padding: 0;
}


/* Portfolio */

#portfolio {
  float: left;
  width: 100%;
}

#portfolio h3 {
  text-transform: uppercase;
}

#portfolio .portfolio-entry {
  float: left;
  width: 100%;
  padding: 0.625em 5%;
}

#portfolio .portfolio-entry:nth-child(2n+1) {
  background-color: #e1e6f2;
}

#portfolio .categories li, #portfolio .team li {
  display: inline;
  font-size: 0.875em;
  /* 14 / 16 = 0.875 */
}


/* Contact */

#contact h3 {
  color: #b31178;
  text-transform: uppercase;
  font-weight: bold;
}

#contact-info .address, #contact-info .phone, #contact-info .email {
  position: relative;
  display: block;
  padding: 0 0 0.625em 2em;
  /*32 / 16 = 2 */
  /*10 / 16 = 0.625;*/
}

.address:before, .phone:before, .email:before {
  content: "";
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.address:before {
  background-image: url('../images/home.png');
}

.phone:before {
  background-image: url('../images/phone.png');
}

.email:before {
  background-image: url('../images/envelope.png');
}

#contact-form {
  background: #e1e6f2;
  display: block;
}

#contact-form form {
  display: block;
  width: 100%;
  margin-top: 1em;
}

#contact-form input, #contact-form textarea, #contact-form label {
  font-size: 1em;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

#contact-form input, #contact-form textarea {
  padding: 0.625em;
  margin-bottom: 0.625em;
  /*10 / 16 = 0.625;*/
}

#contact-form label {
  margin-bottom: 0.3125em;
  /*5 / 16 = 0.3125;*/
}

#contact-form input[type="submit"]:hover {
  background-color: #b31178;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}


/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 375px) {}

@media screen and (min-width: 640px) {
  /*General*/
  .content {
    padding: 1.125em 5%;
  }
  /* Resume */
  #resume {
    float: left;
    width: 100%;
  }
  #resume ul {
    float: left;
    width: 100%;
  }
  #resume .skills-group {
    float: left;
    width: 50%;
  } 
}

@media screen and (min-width: 768px) {
  /*
    1080 pixel grid w/ 80px margins (160)
    Columns:
    Gutters:
    Primary module:
    Secondary modul:
  */
}
